body{
  margin: 0 auto;
  background-color: lightgreen;
  height:100%;
  width: 100%;
}

h1{
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  text-shadow: black ;
}


.render{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.box{
  height:600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  border: 5px solid black;
  box-shadow: 10px 10px black;
}

.winner{
  box-shadow: 10px 10px green;
  background-color: green;

}

.loser{
  box-shadow: 10px 10px red;
  background-color: red;
}

.history-log{
  border: 1x solid black;
}

li {
  padding:10px;
}



img{
  height:400px;
  width:300px;
}

p{
  font-family: Verdana;
  font-size: 20px;
  font-variant: small-caps;
}

.Sword{
font-style: normal;
}

.Spear{
 font-style: oblique;
}

.Axe{
 font-style: italic;
}