body{
  margin: 0 auto;
  background-color: lightgreen;
  height:100%;
  width: 100%;
}

h1{
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
}


.render{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.box{
  height:600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.red{
  background-color: red;
  border: 10px dotted green;
}

.orange{
  background-color: orange;
  border: 10px double gray;
}


.blue{
  background-color: blue;
  border: 10px solid black;
}


/* .yellow{
  background-color: yellow;
} */ 


img{
  height:400px;
  width:300px;
}

p{
  font-family: Verdana;
  font-size: 20px;
  font-variant: small-caps;
}

.Sword{
font-style: normal;
}

.Spear{
 font-style: oblique;
}

.Axe{
 font-style: italic;
}